@font-face {
	font-family: 'Roboto Regular';
	src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Roboto Regular';
	color: #fff;
}

.container {
	width: 100%;
	margin: 120px;
	margin: 0 auto;
	padding: 0 15px;
}

.cahee__section {
	padding: 100px 0;
}

.blog {
	background-color: #b07cf7;
}

.cahee__title {
	font-size: 90px;
	font-family: 'Roboto Bold';
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.cahee__subtitle {
	font-size: 17px;
	margin: auto;
	width: 100%;
	max-width: 570px;
	text-align: center;
	line-height: 1.4;
	font-family: 'Roboto Light';
	margin-bottom: 50px;
}

.blog__list {
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.blog__item {
	list-style: none;
}

.blog__link {
	display: block;
	position: relative;
	width: 100%;
	min-width: 368px;
	max-width: 368px;
	height: 310px;
	padding: 30px;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 1.0);
}

.blog__link[data-img="lemon"] {
	background: url('../img/1.png') no-repeat;
}

.blog__link[data-img="soup"] {
	background: url('../img/2.png') no-repeat 0 100%;
}

.blog__link[data-img="rasberry"] {
	background: url('../img/3.png') no-repeat;
}

.blog__date {
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 32px;
	font-family: 'Roboto Bold';
	text-align: center;
	padding: 10px;
	line-height: .5;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .4);
}

.blog__title {
	line-height: 1.1;
	font-size: 20px;
	text-transform: capitalize;
}

.blog__month {
	display: block;
	font-size: 18px;
	line-height: 1;
	transform: translateY(7px);
}

.blog__author {
	font-size: 15px;
}

.footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 15px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,111111+28,474747+47,dbdbdb+100 */
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 1%, rgba(17,17,17,.5) 28%, rgba(71,71,71,.5) 47%, rgba(219,219,219,.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 1%,rgba(17,17,17,1) 28%,rgba(71,71,71,1) 47%,rgba(219,219,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top,  rgba(0,0,0,1) 1%,rgba(17,17,17,.5) 28%,rgba(71,71,71,.5) 47%,rgba(219,219,219,.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

}

.blog__btn {
	display: block;
	background-color: #f72b3b;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	margin: auto;
	max-width: 230px;
}

.blog__btn:hover {
	background-color: #fff;
	color: #f72b3b;
}