* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

body {
	font-size: 100%;
	font-family: sans-serif;
}

.first-screen {
	background: url('../img/hero-bg.jpg') no-repeat;
	background-size: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__logo {
		margin-bottom: 90px;
	}

	&__title {
		text-transform: uppercase;
		text-align: center;
		max-width: 600px;
		font-size: 3.4rem;
		color: #fff;
		margin-bottom: 50px;
		letter-spacing: 6px;
	}

	&__subtitle {
		color: #fff;
		text-align: center;
		max-width: 600px;
		text-transform: uppercase;
		line-height: 2;
	}

	&__scroll {
		position: absolute;
		bottom: 2%;
	}
}

.about__wrap {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid #000;
	border-top: none;
	padding-bottom: 40px;
}

.about {
	padding: 160px 0;

	&__title {
		text-transform: uppercase;
		margin-bottom: 40px;
		font-size: 2.1rem;
		letter-spacing: 5px;
		transform: translatey(-50%);
	}

	&__wrap::before,
	&__wrap::after {
		content: "";
		position: absolute;
		display: block;
		border-top: 2px solid #000;
		width: 30%;
		top: 0;
	}

	&__wrap::before {
		left: 0;
	}

	&__wrap::after {
		right: 0;
	}

	&__text {
		max-width: 560px;
		line-height: 1.5;
		color: #666;
		margin-bottom: 30px;
	}

	&__description {
		max-width: 450px;
		line-height: 1.5;
		color: #666;
		align-self: center;
	}
}

.services {
	background: url('../img/services.jpg') center/contain no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	padding: 130px 0 110px 0;

	&__wrap {
		position: relative;
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 2px solid #fff;
		border-top: none;
		padding-bottom: 30px;
	}

	&__wrap::before,
	&__wrap::after {
		content: "";
		position: absolute;
		display: block;
		border-top: 2px solid #fff;
		width: 30%;
		top: 0;
	}

	&__wrap::before {
		left: 0;
	}

	&__wrap::after {
		right: -2px;
	}

	&__title {
		color: #fff;
		font-size: 2.1rem;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 60px;
		transform: translatey(-50%);
	}

	&__text {
		max-width: 560px;
		color: #fff;
		line-height: 1.5;
	}
}

.what-we-do {
	padding: 120px 0;

	&__wrap {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 2px solid #000;
		border-top: none;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 100px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 2.1rem;
		transform: translatey(-50%);
	}

	&__wrap::before,
	&__wrap::after {
		content: "";
		position: absolute;
		display: block;
		border-top: 2px solid #000;
		width: 30%;
		top: 0;
	}

	&__wrap::before {
		left: 0;
	}

	&__wrap::after {
		right: 0;
	}

	&__figure {
		margin-bottom: 40px;
	}

	&__img {
		margin-bottom: 40px;
	}

	&__caption {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.25rem;
	}

	&__text {
		max-width: 550px;
		line-height: 1.6;
		font-size: .8rem;
	}

	&__item {
		margin-bottom: 100px;
	}

	&__item:last-child {
		margin-bottom: 0;
	}
}

.our-works {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		min-height: 480px;
	}

	&__item {
		list-style: none;
		flex-basis: 29%;
	}

	&__item:nth-child(2),
	&__item:nth-child(5) {
		flex-basis: 41%;
	}

	&__link {
		position: relative;
		display: block;
		min-height: 235px;
		text-decoration: none;
		color: #fff;
		font-size: 2.1rem;
		text-transform: uppercase;
		letter-spacing: 3px;

		& span {
			position: absolute;
			left: 15px;
			bottom: 15px;
		}
	}
}

.first {
	background: url('../img/Layer-1.jpg') no-repeat;
}

.two {
	background: url('../img/Layer-2.jpg') no-repeat;
}

.three {
	background: url('../img/Layer-3.jpg') no-repeat;
}

.four {
	background: url('../img/Layer-4.jpg') no-repeat;
}

.five {
	background: url('../img/Layer-5.jpg') no-repeat;
}

.six {
	background: url('../img/Layer-6.jpg') no-repeat;
}

.contact {
	padding-top: 140px;


	&__wrap {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-bottom: 60px;
		border: 2px solid #000;
		border-top: none;
	}

	&__title {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1.9rem;
		margin-bottom: 55px;
		transform: translatey(-50%);
	}

	&__wrap::before,
	&__wrap::after {
		content: "";
		position: absolute;
		display: block;
		border-top: 2px solid #000;
		width: 30%;
		top: 0;
	}

	&__wrap::before {
		left: 0;
	}

	&__wrap::after {
		right: 0;
	}

	&__text {
		max-width: 550px;
		line-height: 1.6;
		margin-bottom: 40px;
	}

	&__btn {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;
		padding: 20px 130px;
		color: #fff;
		background-color: #3c3c3c;
	}

	&__btn:hover {
		background-color: lighten(#3c3c3c, 10%);
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.db {
	display: block;
}

.footer__img {
	margin-right: 25px;
}


