* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

html {
	height: 100%;
	background-color: #247BAD;
	padding: 10px;
}

body {
	height: 100%;
	font-family: Lucida Sans Unicode;
	font-size: 100%;
	background-color: #2793CB;
	color: #fff;
}

.content {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.content__word {
	text-transform: uppercase;
}

.content__title {
	display: inline-block;
	margin-bottom: 20px;
	text-transform: capitalize;
	margin-right: 10px;
}

.content__list {
	font-size: 0;
	border:  1px solid #fff;
	margin-bottom: 20px;
}

.content__list:hover .content__item {
	opacity: 0.4;
}

.content__item {
	display: inline-block;
	min-height: 100px;
	border: 1px solid #fff;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
}

.content__list .content__item:hover {
	opacity: 1;
}

.blue {
	width: 50%;
	background-color: #2793CB;
}

.aqua {
	width: 25%;
	background-color: #24BDC8;
}

.purple {
	width: 25%;
	background-color: #986F95;
}

.red {
	width: 25%;
	background-color: #C75442;
}

.orange {
	width: 25%;
	background-color: #E77144;
}

.yellow {
	width: 25%;
	background-color: #FFCB5D;
}

.light-green {
	width: 25%;
	background-color: #93C395;
}

.gray {
	width: 25%;
	background-color: #5E9494;
}

.pink {
	width: 50%;
	background-color: #CF7294;
}

.green {
	width: 25%;
	background-color: #288D62;
}

.dark-blue {
	width: 100%;
	background-color: #636996;
}

.content__link {
	display: block;
	min-height: 100px;
	padding-top: 20px;
	text-decoration: none;
}

.content__text {
	margin-bottom: 5px;
	text-transform: capitalize;
	color: #fff;
}

.wi {
	font-size: 1.5rem;
	vertical-align: middle;
	color: #fff;
}

.content__light-text {
	display: inline-block;
	margin-right: 10px;
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
}

