@font-face {
	font-family: Trebuchet;
	src: url('../assets/fonts/trebuchet.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

html {
	height: 100%;
}

body {
	font-family: Trebuchet;
	font-size: 100%;
	height: 100%;
	text-align: center;
	padding: 10px;
}

.content {
	background-color: #253030;
	height: 100%;
}

.header {
	background-color: #343f3f;
	padding: 20px;
	margin-bottom: 20px;
}

.header__title {
	color: #ef8873;
	text-transform: uppercase;
}

.main {
	width: 40%;
	margin: 0 auto;
}

.main__list {
	margin-bottom: 20px;
}

.main__item {
	list-style: none;
	height: 40px;
	text-align: left;
}

.main__item:nth-child(odd) .main__label {
	background-color: #787a90;
}

.main__item:nth-child(even) .main__label {
	background-color: #686986;
}

.main__label:hover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background-color: #4d5266;
}

.main__label {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	border: 2px solid #686986;
}

.main__item .main__label:active {
	background-color: #ef8873;
	height: 100%;
	width: 100%;
}

.main__item:nth-child(1) .main__text::after {
	content: "(serch for white liquid)";
	color: #9B9EB3;
	font-size: .8rem;
	padding-left: 10px;
	vertical-align: middle;
}

.main__item:nth-child(2) .main__text::after {
	content: "(sticky for a sandwich)";
	color: #9B9EB3;
	font-size: .8rem;
	padding-left: 10px;
	vertical-align: middle;
}

.main__item:nth-child(3) .main__text::after {
	content: "(bread all over the head)";
	color: #9B9EB3;
	font-size: .8rem;
	padding-left: 10px;
	vertical-align: middle;
}

.main__item:nth-child(4) .main__text::after {
	content: "(not french fries)";
	color: #9B9EB3;
	font-size: .8rem;
	padding-left: 10px;
	vertical-align: middle;
}

.main__item:nth-child(5) .main__text::after {
	content: "(ex horses)";
	color: #9B9EB3;
	font-size: .8rem;
	padding-left: 10px;
	vertical-align: middle;
}

.main__item:nth-child(6) .main__text::after {
	content: "(water ruins people)";
	color: #9B9EB3;
	font-size: .8rem;
	padding-left: 10px;
	vertical-align: middle;
}

.main__text {
	display: inline-block;
	color: #fff;
	font-size: 1.5rem;
	padding-top: 2px;
}

[type="checkbox"]:checked + .main__text {
	text-decoration: line-through;
	color: #9B9EB3;
}

[type="submit"] {
	display: block;
	width: 100%;
	height: 40px;
	background-color: #343f3f;
	border: none;
	color: #ef8873;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

[type="submit"]:focus {
	border: 1px solid #ef8873;
}
