@font-face {
	font-family: Open Sans;
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: Open Sans;
	background-color: #121116;
	color: #fefbfc;
	text-align: center;
	padding-top: 120px;
}

.footer__logo {
	margin-bottom: 55px;
}

.footer__logo > [href="#"] {
	display: inline-block;
	font-size: 0;
}

.footer__main {
	margin-bottom: 90px;
}

.footer__title {
	font-size: 1.25rem;
	letter-spacing: .25rem;
	text-transform: uppercase;
}

.footer__social::before {
	content: "";
	display: block;
	width: 230px;
	border-bottom: 1px solid #fff;
	padding-top: 20px;
	margin: 0 auto;
}

.footer__list {
	padding-top: 20px;
}

.footer__list-item {
	display: inline-block;
	margin-right: 35px;
}

.footer__list-item > [href="#"] {
	display: inline-block;
	font-size: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

.footer__list-item:last-child {
	margin: 0;
}

.basement {
	text-transform: capitalize;
}

.footer__basement-item {
	color: #19c8fa;
	text-decoration: none;
}